body {font:12px Tahoma;margin:0px;text-align:center;background:#FFF;}
a:link,a:visited {font-size:12px;text-decoration:none;}
a:hover{}
#container {width:800px;margin:10px auto;}
#Header {background:white no-repeat;width:800px;margin:0 auto;}
#pic{float: left;padding:10px 15px; }
#menu {padding:20px 20px 0 0; overflow: hidden;}
#menu ul {list-style:none;margin:0px; float:right;list-style:none;margin:0px;}
#menu ul li {float:left;margin:0 10px;display: block;line-height: 28px;}
#menu ul li a:link,#menu ul li a:visited{font-weight: bold;color: #666666}
#menu ul li a:hover{}
.menuDiv{width: 1px;height: 28px;background: #999999}
#banner{
    width: 800px;
    margin: auto;

    border-top: 5px solid black;

}
#banner img{
    width: 770px;
    border-bottom: 5px solid #EFEFEF;
}#PageBody {
     width: 800px;
     height: 500px;
     margin: 0 auto;
     clear: both;
 }
 #Sidebar{
     width: 200px;
     float: left;
     padding: 20px 10px 10px;
     overflow: hidden;
     color: #666666
 }
#Sidebar ul{
    list-style-type:none;

}
.search{
    overflow: hidden;
}

.search input:first-child{
    width:66%;
    float: left;
}
.search input:last-child{
    width: 30%;
    float: right;
}

.user-info{
    width: 160px;
    float: left;
    margin-left: -30px;
    height: 150px;

}
.user-info h1{
    text-align: left;
}
.user-info .names,.user-info .pwd{
    height: 10px;
    line-height: 10px;
    margin-bottom: 20px;

}
.user-info .names input,.user-info .pwd input{
    width: 100px;
    float: right;


}
.user-info .btnwrap{
    text-align: center;
}
.site{
    text-align: left;
    padding: 10px;
    height:280px;
}
.site ul {
    margin-left: -15px;
}
.page{
    text-align: left;
    padding: 10px;
}
.page img{
    width: 100px;
    height: 10px;
    padding: 2px;
}
#MainBody {
    width:550px;
    text-align:left;
    float:right; /*浮动居右*/
    clear:right; /*不允许右侧存在浮动*/
    overflow:hidden;
    padding: 10px;
}
#MainBody .items{
    overflow: hidden;

    padding: 20px;
    margin:0px -20px ;


}
#MainBody .items:first-child{
    border-bottom: 2px dashed #666666;


}
.items .pic{
    width: 200px;
    border:5px;
    float: left;
}
.items .pic img{
    width: 200px;


}
.items .pic h3{
    text-align: center;
}
#MainBody .items ul{
    list-style-type:none;

}
.script{
    width: 240px;
    float: right;
    text-align: left;
    padding: 0 60px 0 0;
}
.print{
    width: 300px;
    float:left;
    padding: 0 150px;
}
.print img{
    float: left;
    padding: 5px;

}
.print p{
    float: right;
}
#Footer{
    width:800px;
    height:60px;
    background:#EFEFEF;
    border-top: 5px solid #666666;
}
#Footer ul{
    margin:0 auto;
    list-style-type:none;
    text-align: center;
}






































